<div>Something on the page</div>
<div>Something on the page</div>
<div>Something on the page</div>
<div>Something on the page</div>
<div>Something on the page</div>
    <div>Something on the page</div>
    <div>Something on the page</div>

    <div>Something on the page</div><div>Something on the page</div>
<div>Something on the page</div>
    <div>Something on the page</div>
    <div>Something on the page</div><
        div>Something on the page</div>
<div href="/products" class="main-banner"></div>