
  <div class="text-center main-page">
    {{!-- <h5 class="fs-1 text-warning">discountHub</h5> --}}
    <div class="main-box">
    <p class="fs-5 text-white">We are a community that shares discounts in popular retail chains. Every cent saved counts!</p>
    <a href="/products/" class="btn btn-outline-light btn-sm col-12 col-md-3 ">Latest added discounts</a>
    <a href="/shops" class="btn btn-outline-light btn-sm  col-12 col-md-3 ">Check shops we love</a>
    <a href="/product/create" class="btn btn-outline-light btn-sm  col-12 col-md-3 ">Add new discount</a>
</div>
<div class="main-box">
    <p class="fs-5 text-white">Be part of our great community. Register or log in to share recently hunted promotions!</p>
    <a href="/login" class="btn btn-light btn-sm col-12 col-md-3">LogIn</a>
    <a href="/signup" class="btn btn-light btn-sm col-12 col-md-3">Register</a>
  </div>
  </div>
  <img src="../images/background.webp" class="col-12 main-image" style="height: 350px" alt="background image">

{{!-- <div href="/products" class="main-banner"></div> --}}