body {
  margin-block-end: 10px;
  font: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.nav-color {
  background-image: linear-gradient(to right, rgb(214, 6, 6), yellow);
  border-radius: 10px;
}

.container-xxl {
  background-image: linear-gradient(rgb(1, 4, 82), red);
}

.navbar-brand {
  text-shadow: 2px 2px 5px rgb(1, 3, 58); 

}

.main-image {
  
  border-radius: 20px;
  margin-top: 40px;
}

.edit {
  margin: 3px 3px;
}

.single-shop {
  padding: 10px;
}

footer {
  
  padding-top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-page {
  padding: 0px 40px;
  font-style: italic;
}

.main-box {
  margin: 30px;
  padding: 15px 0px;
}

.btn {
  margin: 3px 3px;
}

.small-nav-color {
  background-image: linear-gradient(to right, yellow, rgb(214, 6, 6));
}
.small-nav-color::active {
  background-image: linear-gradient(to right, yellow, rgb(214, 6, 6));
}

.men {
  padding: 0px;
}