<h1>Product create page</h1>

<form method="POST" action="/products">

    <label> Product name:
        <input type="text" name="name" />
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4"> </textarea>
    </label>

    <label> Discount valid until:
        <input name="expirationDate" type="date"> </input>
    </label>


    <label> Regular price:
        <input type="number" name="fullPrice" min="0.00" step=".01" />
    </label>

    <label> Price after discount:
        <input type="number" name="discountPrice" min="0.00" step=".01" />
    </label>

    <label> Select a tag:
     
      
                <input type="radio" value="food" name="tags">
                <label for="html">food</label>
    
        
    </label>

    <label> Select a shop:
        <select name="shop">
            {{#each shops}}
                <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
        </select>
    </label>


    <button type="submit"> Create </button>
</form>