<h1>Product create page</h1>

<form method="POST" action="/products">

    <label> Product name:
        <input type="text" name="name" />
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4"> </textarea>
    </label>

    <label> Discount valid until:
        <input name="expirationDate" type="date"> </input>
    </label>


    <label> Regular price:
        <input type="number" name="fullPrice" />
    </label>

    <label> Price after discount:
        <input type="number" name="discountPrice" />
    </label>

    <label> Select a shop:
        <select name="shop" id="enum">
            {{#each product.shop.enum}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>
    {{!-- {{#each shops}}
    <option value={{this._id}}>{{this.name}}</option>
    {{/each}}
    </select> --}}
    {{!--
    <label> Shops:
        <textarea name="shop"> </textarea>
    </label> --}}


    <button type="submit"> Create </button>
</form>